<body>
<button class="btn btn-danger"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Go back to main menu</a></button>
<div class="row">
    
  <div class="col-md-12">
      <div class="card" >
          <img class="card-img-top" src="../../assets/images/women1.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dress</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button routerLink="/fashion/buy" class="btn btn-primary">Buy now</button>
          </div>
      </div>
      <div class="card" >
          <img class="card-img-top" src="../../assets/images/women2.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jacket</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button routerLink="/fashion/buy" class="btn btn-primary">Buy now</button>
          </div>
      </div>
  </div>
</div>

    </body>