<body>
<header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLinkActive="active" routerLink="mens" class="nav-link">Mens</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="women" class="nav-link">Womens </a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="kids" class="nav-link">Kids </a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="buy" class="nav-link">Buy</a></li>
      </ul>
    </nav>
</header>
</body>