

<!-- 
<input type="text" [(ngModel)]="enteredText">
<button (click)="viewContent()">Click me to view content</button>
<div *ngIf="yesClick">{{enteredText}}</div> -->



<!-- <div>
    <p style="font-weight: bolder; font-size: larger;"></p>
    <div *ngFor="let name of names; let i = index;"
        [ngStyle]="i % 2 === 0 ? {'color': 'green'} : {'color': 'red'}">
      {{ name }}
    </div>
</div> -->

<!-- Practice- @Input decorator to pass the data from Parent component to child component-->

<!-- <div style="display: inline-block">
<div class="card" style="width: 18rem; ">
  <img class="card-img-top" [src]="image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Position: {{position}}</li>
    <li class="list-group-item">Matches: {{matches}}</li>
    <li class="list-group-item">Trophy: {{trophy}}</li>
  </ul>
  <div class="card-body">
    <a href="https://www.bcci.tv/" class="card-link">BCCI.in</a>
    <a href="https://www.iplt20.com/" class="card-link">IPLt20.in</a>
  </div>
</div>
</div> -->

<!-- --------------------------------------------------------------------------------->
<!-- <div class="col-md-8" style="margin-left: 175px; text-align: center;">
  <label style="font-weight:bold ;"> Please enter Your Budget</label>
  <input type="text" class="form-control" placeholder="Enter your budget" [(ngModel)]="priceSearch" style="background-color: aquamarine ;">
  <button type="button" class="btn btn-primary" (click)="filterProducts()"> CLICK </button>
</div>

<table>
  <thead>
    <tr>
      <th scope="col" style="width:50px">ID</th>
      <th scope="col">Title</th>
      <th scope="col"style="width:50px">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | search: priceSearch">
      <td class="bg-primary">{{product.id}}</td>
      <td class="bg-success">{{product.title}}</td>
      <td class="bg-warning">{{"$" + " " + product.price}}</td>
      <td class="bg-danger">{{product.description}}</td>
      <td class="bg-success"><img [src]="product.image" alt="Product image"></td>
    </tr>
  </tbody>
</table> -->


<ng-container *ngFor="let item of items">
    
   <p>Product Name: {{item.name}}</p>
   <p>Product ID: {{item.id}}</p>
</ng-container>
