
<!-- <h4>ng  Class Example:</h4>

<ul *ngFor="let person of peoples"> 
    <li [ngClass]="{
        'text-success' : person.country === 'UK',
        'text-primary' : person.country === 'USA',
        'text-danger' : person.country === 'HK'
    }"> 
        {{person.name}} {{person.country}}
    </li>

</ul> -->


<button (click)="toggleButton()" type="button" class="btn btn-dark">Display Details</button>
<p style="font-weight:bolder; color:maroon" *ngIf="displayDetails">This is Codemind Technology. Your success partner.</p>
<p style="font-weight:bolder; color:blueviolet">After Results: {{ buttonClicks }}</p>
<div *ngFor="let click of buttonClicks; index as i">
  <p [ngStyle]="{'background-color': (i >= 5) ? 'blue' : 'white'}"
     [ngClass]="{'text-white': (i >= 5)}">{{ click }}</p>
</div>