
  
  <!-- <app-test2></app-test2>
  <br>
  <br>
  <br>

  {{data.name}} {{data.dept}}
  <h1>
    <app-demo></app-demo>
  </h1>
 
</div>

<app-test2 [child]="parentToChild"></app-test2>

<app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>


<app-password></app-password>

<app-output-component (fromChild)="onParent($event)" (fromThisChild)="onParentsss($event)"></app-output-component><br> -->
<!-- <body>
  <--  -->

<!--
<app-ng-switch></app-ng-switch>
</div>
</body> -->
<!--  
 <app-ng-style></app-ng-style> -->
 
 
 

 <!-- <app-practice *ngFor="let player of players"
                    [image]="player.image"
                    [name]="player.name"
                    [content]="player.content"
                    [position]="player.position"
                    [matches]="player.matches"
                    [trophy]="player.trophy">
      </app-practice>  -->

<!-- <p appCustom>Normal paragraph</p>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
 <!-- <div style="text-align:center">
<app-template-form></app-template-form>
</div>  -->
<!-- <app-reactive-form3></app-reactive-form3> -->
<app-reactive-form></app-reactive-form>
 <!-- <app-template-assign></app-template-assign>  -->
<!-- <app-reactive-form></app-reactive-form> -->
<router-outlet></router-outlet>
