
  
  <!-- <app-test2></app-test2>
  <br>
  <br>
  <br>

  {{data.name}} {{data.dept}}
  <h1>
    <app-demo></app-demo>
  </h1>
 
</div>

<app-test2 [child]="parentToChild"></app-test2>

<app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>


<app-password></app-password>

<app-output-component (fromChild)="onParent($event)" (fromThisChild)="onParentsss($event)"></app-output-component><br> -->
<!-- <body>
  <--  -->

<!--
<app-ng-switch></app-ng-switch>
</div>
</body> -->
<!--  
 <app-ng-style></app-ng-style> -->
 
 
 

 <!-- <app-practice *ngFor="let player of players"
                    [image]="player.image"
                    [name]="player.name"
                    [content]="player.content"
                    [position]="player.position"
                    [matches]="player.matches"
                    [trophy]="player.trophy">
      </app-practice>  -->
<!-- <app-practice></app-practice> -->
<!-- <p appCustom>Normal paragraph</p>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
 
<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form3></app-reactive-form3> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-service-learning></app-service-learning>
<app-practice></app-practice> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
      <app-subject-learning1></app-subject-learning1>
    </div>
    </div>
    <div class="col-md-6">
      <div>
      <app-subject-learning2></app-subject-learning2>
    </div>
    </div>
    <div class="col-md-6">
      <div>
      <app-subject-learning3></app-subject-learning3>
    </div>
    </div>
    <div class="col-md-6">
      <div>
      <app-subject-learning4></app-subject-learning4>
    </div>
    </div>
  </div>
</div> -->


  <!-- <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">About Us</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/post" class="nav-link">DemoPost</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/user" class="nav-link">User</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/order" class="nav-link">Order</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Fashion</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/customer" class="nav-link">Customer</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a></li>
      </ul>
    </nav>
  </header> -->
  <!-- <div id="news">This is news Table</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">UUID</th>
        <th scope="col">Title</th>
        <th scope="col">PUBLISHER</th>
        <th scope="col">LINK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of resObj.news">
        <th scope="row">{{res.uuid}}</th>
        <td>{{res.title}}</td>
        <td>{{res.publisher}}</td>
        <td>{{res.link}}</td>
      </tr>
    </tbody>
  </table>

  <div id="quotes">This is Quotes Table</div>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">exchDisp</th>
        <th scope="col">exchange</th>
        <th scope="col">index</th>
        <th scope="col">industry</th>
        <th scope="col">isYahooFinance</th>
        <th scope="col">longname</th>
        <th scope="col">quoteType</th>
        <th scope="col">score</th>
        <th scope="col">sector</th>
        <th scope="col">shortname</th>
        <th scope="col">symbol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newRes of resObj.quotes">
        <th scope="row">{{newRes.exchDisp}}</th>
        <td>{{newRes.exchange}}</td>
        <td>{{newRes.index}}</td>
        <td>@{{newRes.industry}}</td>
        <td>{{newRes.isYahooFinance}}</td>
        <td>{{newRes.longname}}</td>
        <td>@{{newRes.quoteType}}</td>
        <td>{{newRes.score}}</td>
        <td>{{newRes.sector}}</td>
        <td>@{{newRes.shortname}}</td>
        <td>{{newRes.symbol}}</td>
      </tr>
    
    </tbody>
  </table> -->

  <app-search-api-assign></app-search-api-assign>

<!-- <app-pipes-learning></app-pipes-learning> -->
<!-- <app-product-filter></app-product-filter> -->
<!-- <app-template-assign></app-template-assign>  -->
<!-- <app-reactive-form></app-reactive-form> -->
<router-outlet></router-outlet> 
 