<div>
    <label class="length">Please enter Password Length:</label> &nbsp;
    <input type="number" [(ngModel)] ="passwordLength" >

    <div>
      <input type="checkbox" [(ngModel)]="useLetters"><span class="new">Use letters</span> <br>
      <input type="checkbox" [(ngModel)]="useNumbers"><span class="new">Use numbers</span><br>
      <input type="checkbox" [(ngModel)]="useSymbols"><span class="new">Use symbols</span>
    </div>
    <button (click)="generatePassword()">Generate Password</button>
    <div>
      <label>Generated Password:</label>
      <p>{{ generatedPassword }}</p>
    </div>
  </div>

